{% set class = 'modular-row' %}

{% set class = class
    ~ ' ' ~ page.header.content_h_layout
    ~ ' ' ~ page.header.content_v_layout
    ~ ' ' ~(page.header.class ? page.header.class)
%}

{% set id = 'modular-' ~ rand(1000, 9999) %}

{% if page.header.background_color %}
    {% set style_bgcolor = '--color:'~page.header.background_color~';' %}
    {% set class = class ~ ' hsl-pal' %}
    {% set module_injectjs = module_injectjs ~ "ncc_construct_pallete('#"~id~"');" %}
    {% do gasvara('inline_js',module_injectjs) %}
{% endif %}

{% if page.header.list_enable and page.header.list %}
    {% set class = class ~ ' has-items' %}
    {% set features %}
    <ul class='features {{ page.header.list_layout }}'>
    {% for item in page.header.list %}
        <li>
        {{ (item.link ? "<a href='"~item.link~"'>" : "")|raw }}
        {{ (item.icon ? "<i class='"~item.icon~"'></i>" : "")|raw }}
        <div class='item-wrap'>
        {{ (item.header ? "<div class='item-title'>"~item.header~"</div>" : "")|raw }}
        {{ (item.text ? "<div class='item-text'>"~item.text~"</div>" : "")|raw }}
        </div>
        {{ (item.link ? "</a>": "")|raw }}</li>
    {% endfor %}
    </ul>
    {% endset %}
{% endif %}

{% if page.header.buttons_enable and page.header.buttons_list %}
    {% set class = class ~ ' has-buttons' %}
    {% set buttons %}
    <ul class='buttons {{ page.header.buttons_layout }}'>
    {% for item in page.header.buttons_list %}
        <li>
        <a class='button {{item.class}}'
        {%if item.link %}href="{{item.link}}"{% endif %}
        >{{item.text}}</a>
        {%if item.subtext %}<div class='item-text'>{{item.subtext}}</div>{% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endset %}
{% endif %}

{% set styles = style_bgcolor
	~ (page.header.modular_height ? "min-height:"~header.modular_height~";" )
%}

{% if page.header.enable_background %}

    {% set styles = styles
		~ (page.header.img_blend ? "background-blend-mode:" ~ page.header.img_blend ~ ";" )
		~ (page.header.img_posX ? "background-position-x:" ~ page.header.img_posX ~ "%;" )
		~ (page.header.img_posY ? "background-position-y:" ~ page.header.img_posY ~ "%;" )
    %}

	{% if page.header.images|length > 0 %}

		{% set first_img = page.media[page.header.images|first.file].url %}
		{% set img_list = "data-image=" %}
		{% for img in page.header.images %}
			{% if loop.last %}
				{% set img_list = img_list~page.media[img.file].url|e %}
			{% else %}
				{% set img_list = img_list~page.media[img.file].url|e~"," %}
			{% endif %}
		{% endfor %}

	{% else %}

		{% if page.media.images|length > 0 %}
		{% set first_img = page.media.images|first.url|e %}
		{% set img_list = "data-image=" %}
			{% for img in page.media.images %}
				{% if loop.last %}
					{% set img_list = img_list~img.url|e %}
				{% else %}
					{% set img_list = img_list~img.url|e~"," %}
				{% endif %}
			{% endfor %}

		{% endif %}


	{% endif %}

	{% if page.header.img_animation != 'disable' %}

		{% set img_list = img_list|rtrim %}

		{% set styles = styles
			~ (page.header.img_animation ? "animation-name:" ~ page.header.img_animation ~ ";" )
			~ (page.header.img_timeout ? "animation-duration:" ~ page.header.img_timeout ~ "s;" )
		%}

	{% else %}

		{% set styles = styles~ "background-size: cover;" %}
		{% set img_list =  "" %}

	{% endif %}	


	{% if img_list %}
		{% set module_img_injectjs %}
			gn_modular_slideshow('#{{id}}',{{page.header.img_timeout|raw}});
		{% endset %}
		{% do gasvara('inline_js',module_img_injectjs) %}
		{% set div_attr = "data-delay="~ page.header.img_timeout|default(10) %}
	{% endif %}

	{% set styles = styles ~"background-image: url(" ~ first_img ~ ");" %}

{% endif %}

<div id="{{id|raw}}" class="{{ class|raw }}" style="{{ styles|raw }}"
    {{img_list|raw}} {{div_attr}}>

    {% if page.header.title_print %}
		<div class='page-title h1'>{{ page.title }}</div>
	{% endif %}
	{% if content|trim %}
		<div class='page-content'>{{ content|raw }}</div>
    {% endif %}

    {{ features|raw }}

    {{ buttons|raw }}

</div>
