{% extends "/page_head.html.twig" %}

{% block head_title %}
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
{% endblock %}

{% block head_meta %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
    {% if gantry.config.page.head.meta -%}
        {% for attributes in gantry.config.page.head.meta -%}
            {%- for key, value in attributes %}
                {% if key starts with 'og:' %}
                <meta property="{{ key|e }}" content="{{ value|e }}" />
                {% else %}
                <meta name="{{ key|e }}" content="{{ value|e }}" />
                {% endif %}
            {% endfor -%}
        {%- endfor -%}
    {%- endif -%}
    {% include 'partials/metadata.html.twig' %}
{% endblock %}

{% block head_links %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />
	{% include "partials/font-preload.html.twig" %}	
	{% if gantry.config.page.assets.favicon %}
        <link rel="icon" type="image/x-icon" href="{{ url(gantry.config.page.assets.favicon) }}" />
    {% endif %}
    {% if gantry.config.page.assets.touchicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url(gantry.config.page.assets.touchicon) }}">
        <link rel="icon" sizes="192x192" href="{{ url(gantry.config.page.assets.touchicon) }}">
    {% endif %}
{% endblock %}

{% assets with { priority: 11 } %}

	<link rel="stylesheet" href="gantry-assets://css/ncc-icon.css" type="text/css">

	{% if gantry.config.page.fontawesome.enable|default(1) %}
		<link rel="stylesheet" href="gantry-assets://css/font-awesome.min.css" type="text/css">
	{% endif %}
	
    {% if gantry.config.get('styles.option.animate_css') -%}
		<link rel="stylesheet" href="gantry-assets://css/animate.min.css" type="text/css">
    {% endif %}	
{% endassets -%}

{% assets with { priority:10 } %}

	{% block head_stylesheets -%}

		{% for scss in gantry.theme.configuration.css.persistent|default(gantry.theme.configuration.css.files) %}
			<link rel="stylesheet" href="{{ scss }}.scss" type="text/css">
		{%- endfor %}

	{% endblock -%}

	{% block head_overrides -%}
		{% for scss in gantry.theme.configuration.css.overrides %}
			<link rel="stylesheet" href="{{ scss }}.scss" type="text/css"/>
		{%- endfor %}
	{% endblock -%}

{% endassets -%}


{% assets with { priority: 1 } %}
	
    {% if gantry.config.get('styles.option.devinchrome') -%}
		<link rel="stylesheet" href="gantry-assets://workspace/css/custom.css" type="text/css">
    {% endif %}	

{% endassets -%}


{# Head and footer needs to come last because of any of the above blocks may have CSS or JavaScript in them #}

    {%- do gantry.document.addScript(url('gantry-assets://js/module.min.js'), 10) -%}
    {%- do gantry.document.addScript(url('gantry-assets://js/main.js'), 10, 'footer') -%}

    {% if gantry.config.get('styles.option.devinchrome') -%}
        {%- do gantry.document.addScript(url('gantry-assets://workspace/js/script.js'), 10, 'footer') -%}
    {% endif %}

    {%-set inline_js %}
    var disable_scheme = {{ (gantry.config.get('styles.option.disable_scheme') ? 'true': 'false')|raw }};
    var gn_media_breakpoint = {
        'wide':{{ 16*gantry.config.get('styles.breakpoints.large-desktop-container')|number_format }},
        'desktop':{{ 16*gantry.config.get('styles.breakpoints.desktop-container')|number_format}},
        'tablet':{{ 16*gantry.config.get('styles.breakpoints.tablet-container')|number_format}},
        'mobile':{{ 16*gantry.config.get('styles.breakpoints.large-mobile-container')|number_format}}
    };
    {% endset -%}

    {% do gasvara('inline_js',inline_js|stripper(true)) %}


{% block head_application %}

    {% do gantry.platform.finalize %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

{%- endblock %}