{%- do gantry.debugger.startTimer('render', 'Rendering page') -%}
{%- do gantry.theme.setLayout() -%}
{%- do gantry.theme.loadAtoms() -%}
{%- set segments = gantry.theme.segments() -%}
{%- set boxed = gantry.config.page.body.layout.sections -%}

{%- set page_header = include('ncc/component/header-part.html.twig') %}
{%- set page_footer = include('ncc/component/footer-part.html.twig') %}

{%- set content %}
    {% if gantry.theme.hasContent() %}
        {% block content %}
        {% endblock %}
    {% endif %}
{% endset -%}

{%- set page_layout %}
	{%- for segment in segments if segment.type != 'offcanvas' -%}
		{% include 'ncc/'~segment.type~'.html.twig' with {'segment':segment} %}
	{% endfor %}
{% endset -%}

{%- set page_offcanvas %}
	{%- for segment in segments if segment.type == 'offcanvas' -%}
		{% include 'ncc/'~segment.type~'.html.twig' with {'segment':segment} %}
	{% endfor %}
{% endset -%}


{%- set page_offpage %}
	{%- for segment in segments if segment.attributes.offpafe ==1 -%}
		{% include 'ncc/'~segment.type~'.html.twig' with {'segment':segment} %}
	{% endfor %}
{% endset -%}

{% set boxclass = boxed==2 ? "g-container layout-2": "g-container" %}

{%- block page %}

	<!DOCTYPE {{ gantry.config.page.doctype|default('html')|raw }}>
	<html {{ gantry.page.htmlAttributes|raw }}>
	<head>
	{{ page_header|raw }}
	</head>

    <body{{ gantry.page.bodyAttributes({'class': ['page-'~page.slug(), gantry.page.preset, 'g-style-' ~ gantry.theme.preset]})|raw }}>

	{{ gantry.config.page.body.body_top|raw }}
    {{ body_top|raw }}

	{{ page_offcanvas|raw }}
	
	<div id="g-page-surround" class="{{boxclass}}">	

	{{ page_top|raw }}
	{{ page_layout|raw }}
	{{ page_bottom|raw }}
	
	</div>

	{% if page_offpage|trim %}
		<div id="g-offpage">
		{{ page_offpage|raw }}
		</div>
	{% endif %}	

	{{ body_bottom|raw }}
	{{ gantry.config.page.body.body_bottom|raw }}
    {{ page_footer|raw }}

	{% block page_inlinescript %}
		<script>{{ config.gas.inline_js|sort|join('\n')|stripper(true)|raw }}</script>
	{% endblock %}
	
	</body>
	</html>
{% endblock %}