{% set attr_id = segment.id %}

{% if not particle %}
    {% if noConfig %}
        {% set enabled = true %}
        {% set particle = segment.attributes %}
    {% else %}
        {% set enabled = gantry.config.get('particles.' ~ segment.subtype ~ '.enabled', 1) %}
        {% set particle = gantry.config.getJoined('particles.' ~ segment.subtype, segment.attributes) %}
    {% endif %}

{% endif %}

{%- set c_array = ['g-particle'] -%}
{%- if options.gcontent %}
    {% set c_array = c_array| merge(['g-content']) -%}
{% endif -%}
{% set class = stringken(c_array) %}

{% try %}

    {% set html %}
        {% if enabled and (segment.attributes.enabled is null or segment.attributes.enabled) %}
            {% include ['particles/' ~ segment.subtype ~ '.html.twig',
                '@particles/' ~ segment.subtype ~ '.html.twig',
                '/content/missing.html.twig'] %}
        {% endif %}
    {% endset %}


    {% if html|trim %}
        {% if gantry.debug %}<!-- START PARTICLE {{ id }} -->{% endif %}
        {% if ajax is not defined %}<div id="{{attr_id}}" class="{{class}}">{%endif%}
        {{ html|raw }}
        {% if ajax is not defined %}</div>{%endif%}
        {% if gantry.debug %}<!-- END PARTICLE {{ id }} -->{% endif %}
    {% endif %}

{% catch %}
    <div class="alert alert-error"><strong>Error</strong> while rendering {{ segment.subtype }} particle.</div>
{% endtry %}


