{% extends "partials/page.html.twig" %}
{% set docpage = uri.param('page') %}
{% set docpath = header.folder %}
{% set index = makeindex(docpath,'*.html.twig') %}

{%if docpage|trim %}

	{% set docpage = docpage|replace({'=':'/'}) %}
	{% if docpage == header.start %}
		{% set doc_content = page.content|raw ~ fileget( docpath~"/"~docpage~header.extension)|markdown %}
	{% else %}
		{% set doc_content = fileget( docpath~"/"~docpage~header.extension)|markdown %}
	{% endif %}

{% else %}

	{% set doc_content = page.content|raw %}
	{% if header.start|trim %}
		{% set doc_content = doc_content ~ fileget( docpath~"/"~header.start~header.extension)|markdown %}
	{% endif %}
	
{% endif %}

{% macro litem(uri,f,header,docpath) %}
	{% set ext = header.extension %}
	{% set fn = f['base']|regex_replace("#"~header.extension~"#",'') %}
	{% set link = uri.path~"/page:"~f['file']|
		regex_replace("#"~header.extension~"#",'')|
		regex_replace('#'~docpath~'/#','')|
		replace({'/':'='}) %}
	{% set fnice = fn|replace({'_':' '})|
		regex_replace('#^.*/#','')|regex_replace('/^.*--/','') %}
	<li class="item"><a class='link' href='{{link}}'>{{fnice}}</a></li>
{% endmacro %}

{%- do gantry.document.addScript(url('gantry-theme://js/tree.js'), 12, 'footer') -%}

{% block content %}

<div class='docupath flex top {{header.wrapperclass}}'>

<div class='{{header.contentclass}}'>
    {%- set doc_content = gantry.theme.compile(doc_content) -%}
    {%- set doc_content = gantry.platform.filter(doc_content)|html|raw %}
	{{ doc_content|raw }}
</div>

<div class='{{header.menuclass}}'>

	<div id="docupath_menu" class="gn-tree {{header.tree_layout|default('collapse')}}">	
	<ol class="gatree toplevel">
	{% for ul in index|keys %}
	
		{% if ul|trim %}
		<li class='parent f-{{ul}}'><a class='fold' href="javascript:void(0);">{{ul}}</a>
			<ol>
			{% for f in index[ul] %}{{ _self.litem(uri,f,header,docpath) }}{% endfor %}
			</ol>
		</li>
		{% else %}
			{% for f in index[ul] %}{{ _self.litem(uri,f,header,docpath) }}{% endfor %}
		{% endif %}
		
	{% endfor %}
	</ol>	
	</div>
	
</div>

</div>

{% endblock %}