{% extends "partials/page.html.twig" %}

{% set pagenav = "" %}
{% set content = "" %}

{% if page.header.onpage_menu %}
	{% do gasvara('inline_js',"ncc_modular_nav();") %}
{% endif %}

{% for module in page.collection() %}

	{%- set module_link = module.slug|lower|replace({"_":""}) -%}

	{% if page.header.onpage_menu %}
		{% if page.header.bullet %}
			{% set pagenav = pagenav ~ '<li><a class="button toggle" href="#' ~ module_link ~'"><i class="fa fa-circle"></i></a></li>'~"\n" %}
		{%else %}
			{% set pagenav = pagenav ~ '<li><a class="button toggle" href="#' ~ module_link ~'">'~module.title~'</a></li>'~"\n" %}
		{% endif %}		
	{% endif %}

	{% set module_content %}
		<div id="{{ module_link|raw }}"></div>
        {{ module.content|raw }}
	{% endset %}

	{% set content = content ~ module_content %}

{% endfor %}

{% block content %}
	<div class="modular-wrapper{{ page.header.modular_class ? ' '~page.header.modular_class }}">
	<div class='page-content'>{{ page.content|raw }}</div>
	{% if pagenav|trim %}
		<ul class='pagenav' id='modular-pagenav'>
		{{ pagenav|raw }}
		</ul>
	{% endif %}
	{{ content|raw }}
	</div>
{% endblock %}
