{% extends '@nucleus/partials/particle.html.twig' %}

{% block javascript_footer %}
	{% if particle.layout|default('block') == "tree" 
	      or particle.layout|default('block') == "collapse"%}		
	<script src="{{ url('gantry-theme://js/tree.js') }}"></script>
	{% endif %}
{% endblock %}

{% if particle.pagekey is empty %}
	{% set colm = page.slug() %}
{% elseif particle.pagekey == "/" %}
	{% set colm = "home" %}
{% else %}
	{% set colm = particle.pagekey %}
{% endif %}
{% if colm|lower == "home" %}
	{% set pagecol = pages.children %}
{% else %}
	{% set cari = '/'~colm %}
	{% set pagecol = pages.find(cari).children %}
{% endif %}

{% set id = 'gn-tree'~ rand(1000, 9999) %}

{% block particle %}

<div id='{{id}}' class='gn-tree {{ particle.layout }}' data-slug="{{ colm }}">

{%- if particle.title %}<h3>
	{%- if particle.title_link %}<a href='{{particle.title_link|raw}}'>{% endif %}
	{{particle.title}}
	{%- if particle.title_link %}</a>{% endif %}
</h3>{% endif -%}

<ol class="gatree toplevel">
	{% for page in pagecol %}
		{% if particle.expand == 0  %}
            <li class="item"><a href="{{ page.url }}">{{ page.title }}</a>
		{% else %}
			{% if page.children.visible is empty %}
				<li class="item {{page.title|safetxt}}">
				<a class='link' href="{{ page.url }}">{{ page.title }}</a>
			{% else %}
				<li class="parent">
				{% if page.content is empty %}
					<a class='fold' href="javascript:void(0);">{{ page.title }}</a>
				{% else %}
					<a class='link' href="{{ page.url }}">{{ page.title }}</a>
				{% endif %}
				<ol>
					{% for child in page.children.visible %}
						{% if child.children.visible is empty %}
							<li class="item">
							<a class='link' href="{{ child.url }}">{{ child.title }}</a>
						{% else %}
							<li class="parent">
								{% if page.content is empty %}
									<a class='fold' href="javascript:void(0);">{{ child.title }}</a>
								{% else %}
									<a class='link' href="{{ child.url }}">{{ child.title }}</a>
								{% endif %}
							<ol>
								{% for subchild in child.children.visible %}
									<li class='item'><a class='link' href="{{ subchild.url }}">{{ subchild.title }}</a></li>
								{% endfor %}
							</ol>
						{% endif %}
						</li>
					{% endfor %}
				</ol>
			{% endif %}
		{% endif %}
		</li>
		{% endfor %}
</ol>
</div>
{% endblock %}
