{% set id = segment.attributes.id ? segment.attributes.id : 'g-' ~ segment.id %}

{%- set c_array = segment.attributes.class|split(' ') -%}
{%- set c_array = c_array| merge(segment.attributes.variations|split(' ')) -%}
{%- set c_array = c_array| merge([segment.attributes.fixed ? 'fixed']) -%}
{%- set c_array = c_array| merge([(segment.attributes.background_color ? 'hsl-pal')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.blockcolor ? 'bg')]) -%}

{%- if options.gsize %}
    {% set c_array = c_array| merge(['size-'~segment.attributes.size]) -%}
{% endif -%}

{% set class = stringken(c_array) %}

{%set styles = '' %}

{% for line in segment.attributes.css %}
    {% for var,val in line %}
        {% set styles = styles ~ var~":"~val~";" %}
    {% endfor %}
{% endfor %}

{% set styles = styles ~ (segment.attributes.background_color ? '--color:'~segment.attributes.background_color)~';' %}

{% set styles = stringken(styles,';') %}

{% set html %}
    {% if segment.children %}
        {%- for segment in segment.children -%}
            {#
            {% if segment.content %}
                {% set gantry_content = segment.content|raw %}
                {%- if options.gcontent==false %}
                    {{ gantry_content|replace({'g-content ':'','g-content':''})|raw }}
                {% else %}
                    {{ gantry_content | raw }}
                {% endif -%}
            #}
                {% include [
                    'content/' ~ segment.type ~ '.html.twig',
                    'layout/'~segment.type~'.html.twig',
                ] with {'segment':segment,'options':options} %}

        {% endfor %}
    {% endif %}
{% endset %}


{% if html|trim %}
    <div id="{{id}}"
        {% if styles|trim %}style="{{styles|raw}}"{%endif%}
        class="g-block {{ class|raw }}">
        {{ html|raw }}
    </div>
{% endif %}
