{%- set tag = segment.attributes.tag ? : segment.subtype|default('section') -%}
{%- set id = segment.attributes.id ? : 'g-' ~ segment.id -%}

{% set options = {
    'gsize': ( segment.attributes.disable_sizes ? false : true ),
    'ggrid': (segment.attributes.disable_grid ? false : true ),
    'gcontent': (segment.attributes.disable_gcontent ? false : true ),
	'gcontainer': (segment.attributes.disable_container ? false : true )
    }
%}

{% if segment.id|trim == 'drawer' %}
	{% set options = {
		'gcontent': false,
		'gsize': true,
		'ggrid': false,
		'gcontainer': false,
	} %}
{% endif %}

{%- set c_array = segment.attributes.class|split(' ') -%}
{%- set c_array = c_array| merge(segment.attributes.variations|split(' ')) -%}
{%- set c_array = c_array| merge([(segment.attributes.background_color ? 'hsl-pal')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.blockcolor ? 'bg')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.disable_sizes ? 'no-size')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.disable_grid ? 'no-grid')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.disable_gcontent ? 'no-gcontent')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.res_swipe ? 'swipe')]) -%}
{%- set c_array = c_array| merge([(segment.attributes.responsive ? 'responsive')]) -%}
{%- set class = stringken(c_array) %}

{%- set styles = '' %}

{% for line in segment.attributes.css %}
    {% for var,val in line %}
        {% set styles = styles ~ var~":"~val~";" %}
    {% endfor %}
{% endfor %}

{% set styles = styles ~ (segment.attributes.background_color ? '--color:'~segment.attributes.background_color)~';' %}

{%- if segment.attributes.responsive -%}
    {% set styles = styles ~ (segment.attributes.ctl_w ? '--ctl-w:'~segment.attributes.ctl_w)~';' %}
    {% set styles = styles ~ (segment.attributes.ctl_h ? '--ctl-h:'~segment.attributes.ctl_h)~';' %}
{% endif %}

{% set styles = stringken(styles,';') %}

{%- set tag_attr ='' -%}
{%- set tag_attr = tag_attr ~segment.attributes.responsive==1 ? 'data-responsive=1' -%}
{%- set tag_attr = tag_attr ~segment.attributes.res_swipe==1 ? 'data-swipe=1' -%}

{%- if segment.attributes.responsive -%}

    {% set button_attr = '' %}
    {% set button_attr = button_attr ~ (segment.attributes.res_animation ? ' data-anim="'~segment.attributes.res_animation~'"') %}
    {% set button_attr = button_attr ~ (segment.attributes.res_position ? ' data-position="'~segment.attributes.res_position~'"') %}

    {%- set button_responsive -%}

        <button class='toggle res-ctl' {{ button_attr }}>
        {% if segment.attributes.ctl_image %}
            <img src='{{ segment.attributes.ctl_image }}'>
        {% else %}
            <i class='{{ segment.attributes.ctl_icon }}'></i>
        {% endif %}
            <span class='ctl-title'>{{ segment.attributes.res_title }}BTN</span>
        </button>

    {% endset %}

{% endif %}

{%- set html %}
    {% if segment.children %}
        {%- for segment in segment.children -%}
            {% include 'layout/'~segment.type~'.html.twig' with {'segment':segment,'options':options} %}
        {% endfor %}
    {% endif %}
{% endset -%}

{% set boxed = segment.attributes.boxed ? segment.attributes.boxed : gantry.config.page.body.layout.sections %}

{% if (segment.attributes.offpage==1) %}<div class='g-float-element'>{% endif %}

<{{ tag }} id="{{id|raw}}"
    {% if class|trim %}class="{{class|raw}}"{%endif%}
    {% if styles|trim %}style="{{styles|raw}}"{%endif%}
    {{ tag_attr|raw }}
    g-type="{{segment.type}}">


    {{ button_responsive|raw }}

	{% if options.gcontainer %}<div class="g-container layout-{{boxed}}">{% endif %}

    {{html|raw}}

    {% if options.gcontainer %}</div>{% endif %}

</{{tag}}>

{% if (segment.attributes.offpage==1) %}</div>{% endif %}
