<h2 class='border-b mb-100  fw-light'>Button Colour</h2>


{% set dc_mono_list = ['b','d4','d3','d2','d1','d','l','l1','l2','l3','l4','w'] %}
{% set dc_cot_list = ['a1','a2','c0','c1','c2','t1','t2'] %}


<div class='flex top'>
<div class='color-chart'>

<div class='label'>monochromatic</div>

{% for dc in dc_mono_list %}
	<div><div class='boxcolor auto-text-color ncc-button bg-{{dc}}' data-color='{{dc}}'></div></div>
{% endfor %}

<div class='label'>theorical</div>

{% for dc in dc_cot_list %}
	<div><div class='boxcolor auto-text-color ncc-button bg-{{dc}}' data-color='{{dc}}'></div></div>
{% endfor %}

</div>

<div class='color-preview'>

<h3>Set-Size</h3>

<p>Button is a special element in HTML. It's inline with input-box inside a paragraph.</p>

<div class='label'>Default</div>

<p>
	<input name="data" value="" type="text" class="" placeholder="Enter your name"  autofocus="autofocus">
	<select name="data[device]" class="">
		<option selected="selected" value="mobile">Mobile</option>
		<option value="tablet">Tablet</option>
		<option value="desktop">Desktop</option>
		<option value="large">Large Desktop</option>
	</select>
	<input type='submit' value='submit/default'>
</p>

<div class='label'>mid-btn</div>

<p class='mid-btn'>
	<input name="data" value="" type="text" class="" placeholder="Enter your name">
	<select name="data[device]" class="">
		<option selected="selected" value="mobile">Mobile</option>
		<option value="tablet">Tablet</option>
		<option value="desktop">Desktop</option>
		<option value="large">Large Desktop</option>
	</select>
	<input type='submit' value='submit/default'>
</p>


<div class='label'>large-btn</div>

<p class='large-btn'>
	<input name="data" value="" type="text" class="" placeholder="Enter your name">
	<select name="data[device]" class="">
		<option selected="selected" value="mobile">Mobile</option>
		<option value="tablet">Tablet</option>
		<option value="desktop">Desktop</option>
		<option value="large">Large Desktop</option>
	</select>
	<input type='submit' value='submit/default'>
</p>

<div class='label'>Inline</div>

<p>{{randomwords(22)|capitalize}}. 
A button <button>inline</button> inside paragraph. 
{{ randomwords(3)|capitalize}}.</p>



<div class='my-100'>
<button class="naked">naked</button>
<button class="toggle">Toggle</button> 
<button class='inline'>inline</button>
<button>Default</button> 
<button class="mid-btn">medium</button> 
<button class="large-btn">large</button>
</div>



<div class='mt-200 label'>Theme Color</div>

<div class='my-100'>
<button class='pa-100'>Default (Button)</button> 
<button class="pa-100 primary">Primary (Accent)</button> 
<button class="pa-100 secondary">Secondary (Surface)</button>
</div>

<div class='mt-200 label'>UI Color</div>

<div class='my-100'>
<button class="pa-200 yellow">Yellow</button> 
<button class="pa-200 red">Red</button> 
<button class="pa-200 blue">Blue</button> 
<button class="pa-200 green">Green</button> 
</div>

<div class='mt-200 label'>Color Classes</div>

<div class='my-100'>
<button class='ncc-button px-100 py-50 auto-text-color spaced grad-v'><i class='ncico-download'></i> Action Button</button>
<button class='ncc-button px-100 py-50 auto-text-color spaced grad-h'><i class='ncico-download'></i> Action Button</button>
<button class='ncc-button px-100 py-50 auto-text-color spaced embose'><i class='ncico-download'></i> Action Button</button>
</div>

<div class='my-100'>
<button class="ncc-button bg-l pa-100 auto-text-color">.ncc-button bg-l</button> 
<button class="ncc-accent bg-l pa-100 auto-text-color">.ncc-accent bg-l</button> 
<button class="ncc-surface bg-l pa-100 auto-text-color">.ncc-surface bg-l</button>
<button class="ncc-button bg-b pa-100 auto-text-color">.ncc-button bg-b</button>
</div>


<div class='mt-200 label'>Form buttons</div>

<div class='my-100'>
<input type="submit" value="<input type=submit>">
<input type="button" value="<input type=button>">
<input type="reset" value="<input type=reset>">
<input type="submit" value="<input disabled>" disabled>
</div>

<div class='mt-200 label'>Icons</div>

<div class='my-100'>
<button><i class='ncico-home'></i></button> 
<button class="secondary"><i class='ncico-globe fz-100'></i></button>
<button class="naked"><i class='ncico-sliders fz-150'></i></button>
<button class="toggle"><i class='ncico-search fz-200'></i></button> 
</div>

<div class='mt-200 label'>Forms</div>

<form class='inline-form' name="txt-form" action="/form" method="post">
<div class="form-field">
<div class="form-label"><label class="inline">Name <span class="required">*</span></label></div>
<div class="form-data" data-grav-field="text" data-grav-disabled="" data-grav-default="null">
<div class="form-input-wrapper"><input name="data[name]" value="" type="text" class="" placeholder="Enter your name" required="required"></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline"></label></div>
<div class="form-data" data-grav-field="checkbox" data-grav-disabled="" data-grav-default="true">
<div class="form-input-wrapper"><input name="data[var1]" value="1" type="checkbox" checked="checked" id="var1" class=""> <label style="display:inline;" class="inline" for="var1">I am checkbox</label></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline">Choice</label></div>
<div class="form-data" data-grav-field="radio" data-grav-disabled="" data-grav-default="&quot;markdown&quot;">
<div class="radio"><input type="radio" value="markdown" id="prefer-markdown" name="data[prefer]" class="" checked="checked"> <label style="display: inline" class="inline" for="prefer-markdown">Markdown</label></div>
<div class="radio"><input type="radio" value="twig" id="prefer-twig" name="data[prefer]" class=""> <label style="display: inline" class="inline" for="prefer-twig">Twig</label></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline">Device</label></div>
<div class="form-data" data-grav-selectize="[]" data-grav-field="select" data-grav-disabled="" data-grav-default="&quot;mobile&quot;">
<div class="form-select-wrapper"><select name="data[device]" class="">
<option selected="selected" value="mobile">Mobile</option>
<option value="tablet">Tablet</option>
<option value="desktop">Desktop</option>
<option value="large">Large Desktop</option>
</select></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline">Message <span class="required">*</span></label></div>
<div class="form-data" data-grav-field="textarea" data-grav-disabled="" data-grav-default="null">
<div class="form-textarea-wrapper">
<textarea name="data[message]" placeholder="Enter your message" required="required"></textarea></div>
</div>
</div>
<input data-grav-field="hidden" data-grav-disabled="false" type="hidden" class="input" name="data[something]" value=""> <input type="hidden" name="__form-name__" value="txt-form"> <input type="hidden" name="__unique_form_id__" value="owlbhmuoeicys6ct9ypn"> <input type="hidden" name="form-nonce" value="be53f3d1f9c72dfe999925006db85279">
<div class="buttons"><button type="submit" class="button primary">Submit</button> <button type="reset" class="button">Reset</button></div>
</form>

</div><!--eof preview -->

</div>