
<h2 class='border-b mb-100 fw-light'>Images</h2>

<div>
<img class='bullet bordered ma-100' src="//placekitten.com/200/200" alt="Image alt text">
<img class='rounded bordered ma-100' src="//placekitten.com/200/200" alt="Image alt text">
<img class='polaroid bordered ma-100' src="//placekitten.com/200/200" alt="Image alt text">
</div>

<div>
<img class='bordered w:2p pa-h s:dash' src="//placekitten.com/200/200" alt="Image alt text">
</div>

<p>
<img src="//placekitten.com/120/200" alt="Image alt text" align='right'>
Metus dignissim id vivamus congue efficitur ut tincidunt suspendisse enim semper dictum sapien eleifend eu suscipit suspendisse lorem viverra nisi metus a <kbd>ctl-c</kbd> nec non lorem molestie <strong>strong</strong> porta morbi <b>bold</b> justo dignissim <i>italic</i> vehicula ante <em>vestibulum faucibus</em> ac a dignissim at <a href="page:inline">links</a> non ex arcu laoreet <abbr title="hyper text markup langugage">HTML</abbr> eu elit eget non dictum eu. <mark>Eget elit</mark> aliquam dignissim diam consectetur mauris vehicula <code>var(--text);</code> rhoncus commodo dictum molestie et morbi felis in metus amet period.</p>

<h4>Images inside paragraph</h4>
<p>
<img src="//placekitten.com/120/200" alt="Image alt text" align='left'>
{{randomwords(67)|capitalize}}
</p>

<p>
{{randomwords(37)|capitalize}}
</p>

<hr>

<h4>With inline autofit image</h4>

<p>
<img src="//placekitten.com/500/200" alt="Image alt text" align='center'>
{{randomwords(11)|capitalize}}
<img src="//placekitten.com/700/200" alt="Image alt text" align='fitwidth'>
{{randomwords(67)|capitalize}}</p>


<h4>Figure is inline-block</h4>

<p>
<figure class='quater right'><img src="//placekitten.com/120/120" alt="Image alt text"></figure>
{{randomwords(67)|capitalize}}</p>

<p>
<figure class='half left'><img src="//placekitten.com/320/100" alt="Image alt text">
</figure>
{{randomwords(67)|capitalize}}</p>

<p>
<figure class='fitwidth'><img src="//placekitten.com/700/300" alt="Image alt text">
<figcaption>Here is a caption for this image.</figcaption>
</figure>
{{randomwords(67)|capitalize}}</p>

